body
{
background-color: rgb(146, 238, 89);
color: black;
}

a
{
    color: gray;
}

table
{
    width: 980px;
    border-collapse: collapse;
    background-color: darkgreen;
    text-align: center;
}

