body
{
background-color: rgb(146, 238, 89);
color: black;
}

a
{
    color: gray;
}

#elso
{
    width: 980px;
    border-collapse: collapse;
    background-color: darkgreen;
    text-align: center;
}

#masodik
{
width: 940px;
border-collapse: collapse;
background-color: white;
}

#masodiksor
{
    height: 40px;
    background-color: black;
    color: white;

}

#gyomlalas
{
float: right;
    
}